@using System.Web
@model IEnumerable<BookShop2021.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Список книг</h2>
<hr/>
<br/>
<p>
    <a asp-action="Create" class="btn btn-secondary">Создать новую</a>
</p>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@HttpUtility.HtmlDecode("&#9999;")</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@HttpUtility.HtmlDecode("&#128270;")</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@HttpUtility.HtmlDecode("&#10060;")</a>
            </td>
        </tr>
}
    </tbody>
</table>
