@model IEnumerable<BookShop2021.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Наши книги</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <label>Разделы: </label>
    @Html.DropDownList("categoryId", ViewBag.Genres as SelectList)
    <input type="submit" value="Показать" />
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>

                <td>
                    <input type="button" id="btn" onclick="onCartQuantityChanged(event, @item.Id)" value="В корзину"/>
                    @*<a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id" onclick="onCartQuantityChanged(event)">В корзину</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function onCartQuantityChanged(e,id) {

        axios.post(
            "/Cart/AddItem",
            {
                id: id
            }
        ).then((responseResult) => {
          $("#cartCount").text(responseResult.data);
        });
    }
</script>

