@model IEnumerable<BookShop2021.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Msg</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <label>Разделы: </label>
    @Html.DropDownList("categoryId", ViewBag.Genres as SelectList)
    <input type="submit" value="Показать" />
}

<div class="row justify-content-around row-cols-4">
 @foreach(var book in Model)
 {
     <div class="col-md-auto">
         <div class="card" style="width: 10rem;">
             <img src="@Url.Content("~/images/")@book.ImageUrl" class="card-img-top"/>
             <div class="card-body">
                 <h5 class="card-title">@book.Price руб.</h5>
                 <p class="card-text">@book.Author <br /> @book.Name </p>
             </div>
             <div class="card-body">
                  <a asp-action="Add" asp-controller="Cart" 
                   asp-route-id="@book.Id" 
                   class="btn btn-secondary">В корзину</a>
             </div>
         </div>
     </div>
 }
</div>
